/* Глобальные параметры кнопки */
button {
    position: relative;
    font-size: 12px;
    margin: 2px;
    padding: 2px;
    border: 1px solid var(--border-button-color);
   }
button:hover {
    background-color: var(--bg-button-sel-color);
    margin: 2px;
    padding: 2px;
    cursor: pointer;
    border: 1px solid var(--border-button-color);
}
/* Параметры кнопки при наведении курсора */
button:hover::after {
    content: attr(data-description);
    background: var(--hover-bg-color);
    padding: 3px;
/*     border: 1px solid var(--hover-border-color); */
    position: absolute;
    top: 25px;
    left: 60px;
    z-index: 1;
   }
/* Удаление рамки с кнопки в фокусе */
button:focus {
    outline: none;
}
.svg-icon {
    display: inline-block;
}
/* button.button-img {

} */
button.button-label {
    font-weight: bold;
}
