/* Глобальные параметры кнопки */
.button {
    position: relative;
    width: 80px;
    font-size: 12px;
    margin: 2px;
    padding: 3px;
    border: 1px solid var(--border-button-color);
    user-select: none;
}
.button:hover {
    background-color: var(--bg-button-sel-color);
    cursor: pointer;
}
/* Параметры всплывающего сообщения для наведенной кнопки */
.button:hover::after {
    content: attr(data-description);
    background: var(--hover-bg-color);
    border: 1px solid rgb(255, 255, 144);
    padding: 3px;
    position: absolute;
    z-index: 1;
   }
.button-panel .button:hover::after {
    width: 120px;
    height: 16px;
    top: 45px;
    left: 40px;
}
/* Удаление рамки с кнопки в фокусе */
.button:focus {
    outline: none;
}
.svg-icon {
    display: inline-block;
}
.button-img {
    height: 24px;
    width: 24px;
}
.button-label {
    color:  rgb(63, 63, 63);
}
