button {
    position: relative;
   }
button:hover::after {
    content: attr(data-description);
    background: #ffe;
    padding: 5px;
    border: 1px solid #666;
    position: absolute;
    top: 18px;
    left: 60px;
    z-index: 1;
   }
button:focus {
    outline: none;
}