/* Базовый контейнер табов */
.button-panel {
    padding: 0px;
    margin: 0 auto;
    background: var(--bg-color);
    font-size: 13px;
}
/* Стили секций с содержанием */
.button-panel>section {
    display: none;
    padding: 3px;
}
/* Прячем чекбоксы */
.button-panel>input {
    display: none;
    position: absolute;
}
/* Стили переключателей вкладок (табов) */
.button-panel>label {
    display: inline-block;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    color: var(--font-color);
}
/* Изменения стиля переключателей вкладок при наведении */
.button-panel>label:hover {
    color: var(--font-color);
    font-weight: bold;
    cursor: pointer;
    background-color: var(--bg-sel-color);
}
/* Стили для активной вкладки */
.button-panel>input:checked+label {
    color: var(--font-sel-color);
    font-weight: bold;
    border-bottom: 2px solid green;
}

