.table-editor {
    width: 100%;
    border: none;
    border-top: 1px solid #ccc;
    background-color: var(--bg-color);
    display: flex;
    font-size: 14px;
    height: 26px;
}
.cell-name {
    width: 80px;
    border: none;
    margin: 2px;
    background-color: white;
}
.cell-type {
    width: 80px;
    margin: 2px;
    display: flex;
}
.cell-input {
    border: none;
    margin: 2px;
    width: 100%;
}
.cell-name:focus {
    outline: none;
}
.cell-input:focus {
    outline: none;
}
.cell-input-img {
    height: 20px;
    width: 20px;
}
.cell-type .button {
    padding: 0;
    margin: 0;
    border: none;
    height: 20px;
    width: 26px;
    background-color: var(--bg-color);
    align-self: center;
}
.cell-type .button-img {
    height: 20px;
    width: 20px;
}
