.flex-layout {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: column;
}
main.flex-item {
    flex: 2 2 25em;
}
nav.flex-item,
aside.flex-item {
    flex: 1;
}
nav.flex-item {
    order: -1;
}
header.flex-item,
footer.flex-item {
    flex: 0 0 1em;
}
.flex-item:empty {
    display: none;
}
@media screen and (min-width: 600px) {
    .flex-layout {
        min-height: 100vh;
    }
    .flex-row {
        flex-direction: row;
        min-height: 100%;
        flex: 1 1 auto;
    }
}
