* {
    box-sizing: border-box;
    font-family: Arial,Helvetica,Verdana,sans-serif;
}
html,
body {
    width: 100%;
    display: contents;  
    margin: 0 auto;
    background-color: rgb(145, 145, 145);
    overflow: hidden;
  }
#app-header {
    min-height: 155.5px;
}
#info-bar {
    min-height: 24px;
}

