* {
    box-sizing: border-box;
    font-family: Awesome,Helvetica,Verdana,Arial,sans-serif;
}
html {
    display: contents;    
}
body {
    width: 100%;
    display: contents;  
    margin: 0 auto;
    background-color: rgb(145, 145, 145)
  }
.header > h2 {
    padding-left: 1%;
    background-color: lightgray;
    margin-top: 0px;
    margin-bottom: 0px;
}

