:root {
    --top-heigth: 128px;
    --bottom-heigth: 14px;
    --left-width: 20vw;
    --right-width: 20vw;
}
#content {
    display: flex;
    height: calc(100vh - var(--top-heigth) - var(--bottom-heigth) - 50px);
}
#content>main {
    flex-grow: 1;
}
#content>nav {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: var(--left-width);
    display: none;
}
#content>asside {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: var(--right-width);
    display: none;
}
#content>nav {
    order: -1;
}
header,
footer,
main,
nav,
aside {
    padding: 0em;
}
header {
    height: var(--top-heigth);
}
footer {
    height: var(--bottom-heigth);
}
.grid-layout {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), auto);
    grid-template-columns: repeat(var( --grid-cols), auto);
    background-color: lightgray;
}
.grid-item {
    background-color: lightgray;
}
