.table {
    border-collapse: collapse;  
    background-color: rgb(145, 145, 145);
    user-select: none;
    font-size: 13px;
}
/* .table:focus,
.table-cursor:focus {
    outline: none;
} */
.row-header,
.row-data,
.row-empty {
    height: 20px;
}
.cell-header {
    border: 1px solid #ccc;
    background-color: var(--bg-color);
    color: #555;
    font-weight: bold;
    text-align: center;
}
.cell-data {
    border: 1px solid #ccc;
    background-color: white;    
    height: 20px;
    margin: 0px;
    padding: 0px 2px;
    cursor: cell;
    position: relative;
}
.cell-cursor {
    border-color: green;
/*     z-index: 10; */
}
.top-cell-cursor {
    border-bottom-color: green;
    /* z-index: 10; */
}
.left-cell-cursor {
    border-right-color: green;
/*     z-index: 10;
 */}
.cell-data[type="number"] {
    color: darkgreen;
    text-align: right;
}
.cell-data[type="formula"] {
    color: darkblue;
    text-align: right;
}
.cell-data[type="string"] {
    color: black;
    text-align: left;
}
.table-cursor {
    background-color: green;
    position: absolute;
    right: -2px;
    bottom: -2px;
    width: 4px;
    height: 4px;
    z-index: 10;
    cursor: crosshair;
}
.table-cursor-edit {
    background-color: rgb(242, 253, 242);
}
th.cursor-col,
th.cursor-row {
    background-color: #ddd;
}
th.cursor-col {
    border-bottom: 1px solid green;
}
th.cursor-row {
    border-right: 1px solid green;
}
.cell-header[row] {
    cursor: vertical-text;
}
.cell-header[col] {
    cursor: text;
}
td.change-value {
    background-color: rgb(255, 241, 243);
}
