.table {
    position: inherit;
    size: inherit;
    table-layout: fixed ;
    border-collapse: collapse;  
    background-color: #eee;
    user-select: none;
    font-size: 13px;
}
.table:focus,
.table-cursor:focus {
    outline: none;
}
.row-header,
.row-data {
    height: 20px;
}
.cell-header {
    border: 1px solid #ccc;
    background-color: var(--bg-color);
    color: #555;
    font-weight: bold;
    text-align: center;
}
.cell-data {
    border: 1px solid #ccc;
    background-color: white;    
    height: 20px;
    margin: 0px;
    padding: 0px 2px;
    cursor: cell;
}
.cell-data[type="number"] {
    color: darkgreen;
    text-align: right;
}
.cell-data[type="formula"] {
    color: darkblue;
    text-align: right;
}
.cell-data[type="string"] {
    color: black;
    text-align: left;
}
.table-cursor {
    border: 1px solid green;
    background-color: white;
    margin-left: -2px;
    margin-right: -2px;
    padding: 1px 1px 0 1px;
    min-width: calc(100% + 4px);
    min-height: 100%;
    height: 100%;
    float: left;
}
.table-cursor-edit {
    background-color: rgb(242, 253, 242);
}
th.cursor-col,
th.cursor-row {
    background-color: #ddd;
}
th.cursor-col {
    border-bottom: 1px solid green;
}
th.cursor-row {
    border-right: 1px solid green;
}
.cell-header[row] {
    cursor: vertical-text;
}
.cell-header[col] {
    cursor: text;
}
td.change-value,
td.change-value>.table-cursor {
    background-color: rgb(255, 241, 243);
}
