/* Базовый контейнер табов */
.table-panel {
    padding: 0px;
    margin: 0 auto;
    background: var(--bg-color);
    font-size: 13px;
    height: 100%;
}
.table-panel>section {
    height: 97%;
}
/* Стили переключателей вкладок (табов) */
.table-panel>label {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    color: var(--font-color);
    border-right: 1px solid gray;
    border-top: 1px solid white;
}
/* Изменения стиля переключателей вкладок при наведении */
.table-panel>label:hover {
    color: var(--font-color);
    font-weight: bold;
    cursor: pointer;
    background-color: var(--bg-sel-color);
}
/* Стили для активной вкладки */
.table-panel>input:checked+label {
    color: var(--font-sel-color);
    font-weight: bold;
    border-bottom: 2px solid green;
}
