.flex-layout {
    color: #fff;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
}

.flex-div {
    display: flex;
    flex-direction: column;
}

.flex-main {
    background-color: #546e7a;
    flex: 2 2 12em;
}

.flex-nav,
.flex-aside {
    flex: 1;
    background-color: #455a64;
}

.flex-nav {
    order: -1;
}

.flex-header,
.flex-footer {
    flex: 0 0 20px;
    background-color: #37474f;
}
.flex-nav:empty,
.flex-aside:empty {
    display: none;
}

@media screen and (min-width: 600px) {
    .flex-layout {
        min-height: 100vh;
    }

    .flex-div {
        flex-direction: row;
        min-height: 100%;
        flex: 1 1 auto;
    }
}
